*.pyc
.coverage
htmlcov

logs
ops
**/__pycache__

CHANGELOG.md
CONTRIBUTING.md
ERRORS.md
mypy.ini
README.md

.gitlab-ci.yml
docker-compose.yml

.git
.gitignore
.lintstagedrc
.projectile
.pytest_cache
.mypy_cache
.venv
.env
build
cdk.out
